/* .images {
    margin-top: 20px;
    margin-bottom: 20px;

}
.images .image {
    border-bottom: 1px solid #f3f3f3;
    padding: 25px 0;
} */

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  opacity: 1;
  cursor: pointer;
  width: 200px;
  height: auto;
}

.column img:hover {
  opacity: 0.8;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
}

.closebtn {
  position: absolute;
  top: 10px;
  left: 35px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
